*{
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(125deg,#2c3e50,#fab1a0,#1abc9c,#e67e22,#8e44ad);
    background-size: 500%;
    animation: begin_animation 15s infinite;
}

.text{
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin:350px 0;
    text-align: center;
    text-transform: uppercase;
    animation: begin_ani 15s infinite;
}

@keyframes begin_animation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
